.btn {
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  background-color: white;
  border: none;
  border-radius: 9999px;
  overflow: hidden;
}

.btn-text {
  width: 100%;
  font-size: 16px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: opacity 0.3s ease, width 0.3s ease, font-size 0.3s ease,
    visibility 0s 0.3s;
}

.btn-icon {
  width: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: aqua;
  color: black;
  padding: 18px;
  border-radius: 9999px;
  transition: width 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  background-color: aqua; 
}

.btn:hover .btn-icon {
  width: 100%;
  background-color: aqua; 
}

.btn:hover .btn-text {
  opacity: 0;
  width: 0;
  font-size: 0;
  visibility: hidden;
}

.btn-icon-text {
  margin-right: 5px;
  opacity: 0;
  font-size: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, font-size 0.3s ease, visibility 0s 0.3s;
}

.btn:hover .btn-icon-text {
  opacity: 1;
  height: auto;
  margin-left: -15px;
  font-size: 16px;
  visibility: visible;
}
