.card { 
    width: 550px;
    perspective: 800px;
}
.card__content {
    transform-style: preserve-3d;
}
.card:hover .card__content {
    transform: rotateY(.5turn);}


.card__front,
.card__back { 
    backface-visibility: hidden;
}
.card__back{ 
    transform: rotateY(.5turn);
}
.swiper-pagination {
    position: relative;
    margin-top: 60px;
    bottom: 0;
    text-align: center;
    transform: translateX(-120px);
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9; 
    opacity: 0.7;
    margin: 0 5px; 
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 60px; 
    height: 15px; 
    background-color: #2324FA; 
    border-radius: 25px; 
    opacity: 1;
    transform: scale(1); 
}
